
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 13px;
  color: #626262;
  // background-color: #fff;
  background-color: #f2f2f2;
}

textarea{
  resize: none;
}

.dropdown-item{
  padding: 0.2rem 0.5rem !important;
}

#app{
  height: 100%;
  main{
    // height: 100%;
    .edit-wrapper{
      // height: 100%;
    }
  }
}

.wrapper{
  // height: 100vh;
  // background-color: #f2f2f2;
}

.user{
  color: #3a8fc8;
  font-weight: 600;
}

.edit-wrapper{
  background-color: #f2f2f2;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link{
	color: #777 !important;
	font-weight: 600;
}

.modal{
	.modal-content{
		box-shadow: none;
		border: 1px solid #f2f6f7;
		border-radius: 3px;
	}
}

.stick-up{
	.modal-dialog{
		margin-top: -5px;
	}
}


/* Modal */
.custom-file-uploader {
  position: relative;
  
  input[type='file'] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: default;
  }
}

/* Posts Page */
.outer-card{
  .card{
    background-color: #fff;
    img{
      // max-height: 300px;
      width: 100%;
    }
    .card-header{
      background-color: #fff !important;
      border-bottom: 1px solid #daeffd;
    }
    .card-footer{
      background-color: #fff;
      
    }
  }
}

/* Edit page */

.outer-edit-box{
    background-color: #fff;
  .inner-edit-box{
    display: block;
    
    label{
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 600;
    }

    .edit-content{
      
      .input-group{
        .input-group-addon{
          background: #f0f0f0;
          border: 1px solid rgba(0, 0, 0, 0.07);
          color: rgba(98, 98, 98, 0.47);
          font-size: 14px;
          padding: 6px 9px;
          &:first-child{
            border-right: 0;
            border-left: 1px solid rgba(0, 0, 0, 0.07);
          }
        }

        select {
          border-left: 0;
        }
      }
    }

    

    .right-side{
      .image-row{
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;

        .inner-image{
          width: inherit;
          padding: 5px;
          img {
            border-radius: 3px;
            width: 100%;
            max-height: 400px;
          }
        }
      }
    }
  }
}


/* Post Page */

.post-preview {
  
  .edit-post{
    border: 1px solid #f2f2f2;
    a{
      color: #626262;
      &:hover{
        text-decoration: none;
      }
    }
  }

  .post-image{
    text-align: center;
    img {
      height: 100%;
    }
  }

  .comment-wrapper{
    margin-right: -15px;
    margin-left: -15px;
   
    .comment-heading{
      border-bottom: 1px solid #ddd;
    }

    .comment-body{
      .comment{
        border-bottom: 1px solid #e6e6e6;
        a{
          color: blue;
          &:hover{
            text-decoration: none;
          }
        }
        
        .edit-area{
          display:none;
        }
        .comment-input{
          // display:none;
          border-radius: 4px;
        }
        
        .save-comment{
          // display:none;
        }
      
       small{
        cursor: pointer;
       }
        
        .comment-paragraphs{
          color: #000;
          font-weight: 500;
        }     
      }
    }
  }

.side-bar{
  // position: sticky;
  // top: 0;
}

.add-comment-section{
    position: sticky;
    top: 0;

    .first-row{
      border-bottom: 1px solid #eee;
    }

    .add-comment-footer{
      background-color: #e6e6e6;
      border-top: 1px solid #ddd;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}

